<% layout('layout') -%>
<% script('/_scripts/sync.js') -%>
<h3>请选择</h3>
<div>
  <button class="btn-sync-onsale btn btn-primary">在售数据同步</button>
  <button class="btn-sync-inventory btn btn-primary">仓库数据同步</button>
</div>